
*{
    font-size:16px;
    font-weight: bold;
    color: #00409a;
}

.navbar{
    background: #1c1cd5;!important;
    position: fixed;
}

header{
    position: relative;
}

#navbarNav{
    position: absolute;
    right: 100px;
}

.navbar-nav .nav-item.active .nav-link {
    color:white;
    font-size: 20px;
    margin-left: 20px;
}
.navbar-nav .nav-item.active .nav-link:hover {
    color: #00ffff;
    transform: scale(1.1);
}
.navbar-nav .nav-item.active .nav-link:active {
    color: white;
    transform: scale(0.7);
}

#nav_topic{
    padding-left:100px ;
    color: #ddf5f5;
    font-size: 30px;
}

#nav_topic img{
    background: white;
    margin-right: 10px;
    border-radius: 10px;
}

section{
    background: rgba(145, 235, 255, 0.07);
}

.topic{
    background: #007c7c;
    color: white;
    padding: 10px;
}
.tbl_form{
    padding: 20px;
    box-shadow: rgb(21, 204, 227) 0px 2px 8px;
}
#cus_tbl{
    padding: 20px;
    box-shadow: rgb(21, 204, 227) 0px 2px 8px;
}
#itm_tbl{
    padding: 20px;
    box-shadow: rgb(21, 204, 227) 0px 2px 8px;
}
.thead-dark>tr>th{
    background: #69e5ff;
}





